# coverage configuration file

[run]
branch = True
source = yfrake
omit =
    yfrake/openapi/specs/*
    yfrake/server/handler.py

[report]
skip_empty = True
ignore_errors = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except psutil.NoSuchProcess

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod
